{% extends 'base.html.twig' %}

{% block body %}
<body>

    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Langage</th>
        </tr>
        <tbody>
            <tr>
                <td>fetra</td>
                <td>harinjatovo</td>
                <td>Ruby/php</td>
            </tr>
        </tbody>
    </table>

</body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        const es = new EventSource('http://localhost:3000/hub?topic=' + encodeURIComponent('http://example.com/books/1'));
        es.onmessage = e => {
            // Will be called every time an update is published by the server
            console.log(JSON.parse(e.data));
        }
    </script>

{% endblock %}